.c2__medium {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.c2__semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.c3__medium {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}
.c3__semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
}
