:root {
    --red: #f35b76;
    --blue: #5f7eee;
    --grey: #88868d;
    --black: #000;
    --green: #52ceb8;
    --white: #ffffff;
    --orange: #ff961c;
    --yellow: #ffe896;
    --dark-grey: #333333;
    --light-red: #fddee4;
    --light-grey: #f4f4f7;
    --light-blue: #dfe5fc;
    --medium-grey: #cccccc;
    --alternative-blue: #86d8fb;
    --white-transparent: rgba(255, 255, 255, 0.7);
  }