.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.card_action {
  padding: 0;
  padding-left: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.card_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  padding: 15px 20px;
  background: var(--white);
  border-radius: 20px;
  width: 100%;
}

.card_info__date {
  color: var(--grey);
}

.card_info {
  margin-left: 20px;
}
